<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="SchoolNAME" value=" THE ARQAM SCHOOLS HEAD"/>
    <add key="SchoolAddress" value="Amir Town hurbans pura Lahore)"/>
    <!--<add key="SchoolAddress" value="Sanora Colony Samanabad, Faisalabad. (041-2660265-2406479)"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <connectionStrings>
    <!---->
    <!-- -->
    <!--  <add name="StockDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StockDB;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="MasterDB" connectionString="Data Source=.\SQLEXPRESS;database='master';Initial Catalog=StockDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="StockDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=StockDB;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\DB\StockDB.mdf"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="TAS_Stock.Properties.Settings.StockDBConnectionString"
      connectionString="Data Source=DESKTOP-8Q8ULDG\SQLEXPRESS;Initial Catalog=StockDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TAS_Stock.Properties.Settings.D__PROJECT_TAS_Stock_UPDATED_TAS_Stock_TAS_Stock_DB_STOCKDB_MDFConnectionString"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=D:\PROJECT\TAS_Stock-UPDATED\TAS_Stock\TAS_Stock\DB\STOCKDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" /><-->
    <!--<add name="StockDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=StockDB;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\DB\StockDB.mdf"
      providerName="System.Data.SqlClient" /><add name="MasterDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;database='master';Initial Catalog=StockDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="StockDB" connectionString="SERVER=.\sqlexpress;database=StockDB;UID=sa;PWD=77zBcQ=eM%HSwADm;" providerName="System.Data.SqlClient" />
    <add name="MasterDB" connectionString="SERVER=.\sqlexpress;database=master;UID=sa;PWD=77zBcQ=eM%HSwADm;" providerName="System.Data.SqlClient" />-->
    <!----><add name="StockDB"
    connectionString="Data Source=DESKTOP-8Q8ULDG\SQLEXPRESS;Initial Catalog=StockDB;Integrated Security=true;" providerName= "System.Data.SqlClient" />
  </connectionStrings>
  <!--
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
